%section#main-slider.no-margin
  .carousel.slide.wet-asphalt
    %ol.carousel-indicators
      %li.active{"data-slide-to" => "0", "data-target" => "#main-slider"}
      %li{"data-slide-to"        => "1", "data-target" => "#main-slider"}
      %li{"data-slide-to"        => "2", "data-target" => "#main-slider"}
    .carousel-inner
      .item.active{style: "background-image: url('assets/slider/bg1.jpg')"}
        .container
          .row
            .col-sm-12
              .carousel-content.centered
                %h2.animation.animated-item-1 Mirroring Tirupati
                %p.animation.animated-item-2 We are here to server your local needs.
      / /.item
      .item{style: "background-image: url(assets/slider/bg2.jpg)"}
        .container
          .row
            .col-sm-12
              .carousel-content.center.centered
                %h2.boxed.animation.animated-item-1 Sell or Advertise anything here
                %p.boxed.animation.animated-item-2 MirroringTirupati is a free local classifieds website where you can post free advertisements related a business, product and service offered in and around Tirupati. You can post free ads to buy, sell, rent or for charity in Tirupati. Find used cars, rent or buy apartments, find a flatmate or even start a tiffin or catering service, hobby or dance class or a fashion boutique in your locality and much more..
                %br/
                %a.btn.btn-md.animation.animated-item-3{href: "#"} Learn More
      / /.item
      .item{style: "background-image: url(assets/slider/bg3.jpg)"}
        .container
          .row
            .col-sm-6
              .carousel-content.centered
                %h2.animation.animated-item-1 Powerful and Responsive place to hunt your dream house
                %p.animation.animated-item-2 Armchair house hunts have never been simpler. Imagine all the things you can do with your extra time! Death by chocolate at the corner house? Choose your service to start.
                %a.btn.btn-md.animation.animated-item-3{href: "#"} Learn More
            .col-sm-6.hidden-xs.animation.animated-item-4
              .centered
                .embed-container
      / /.item
    / /.carousel-inner
  / /.carousel
  %a.prev.hidden-xs{"data-slide" => "prev", href: "#main-slider"}
    %i.icon-angle-left
  %a.next.hidden-xs{"data-slide" => "next", href: "#main-slider"}
    %i.icon-angle-right
/ /#main-slider
%section#services.emerald
  .container
    .row
      .col-md-4.col-sm-6
        .media
          .pull-left
            %i.icon-twitter.icon-md
          .media-body
            %h3.media-heading We are on Twitter
            %p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae.
      / /.col-md-4
      .col-md-4.col-sm-6
        .media
          .pull-left
            %i.icon-facebook.icon-md
          .media-body
            %h3.media-heading We are on Facebook
            %p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae.
      / /.col-md-4
      .col-md-4.col-sm-6
        .media
          .pull-left
            %i.icon-google-plus.icon-md
          .media-body
            %h3.media-heading We are on Google Plus
            %p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae.
      / /.col-md-4
/ /#services
%section#recent-works
  .container
    .row
      .col-md-3
        %h3 Our Latest Project
        %p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
        .btn-group
          %a.btn.btn-danger{"data-slide" => "prev", href: "#scroller"}
            %i.icon-angle-left
          %a.btn.btn-danger{"data-slide" => "next", href: "#scroller"}
            %i.icon-angle-right
        %p.gap
      .col-md-9
        #scroller.carousel.slide
          .carousel-inner
            .item.active
              .row
                .col-xs-4
                  .portfolio-item
                    .item-inner
                      %img.img-responsive{alt: "", src: "assets/portfolio/recent/recent_item1.png"}/
                      %h5
                        Nova - Corporate site template
                      .overlay
                        %a.preview.btn.btn-danger{href: "assets/portfolio/full/full_item1.jpg", rel: "prettyPhoto", title: "Malesuada fames ac turpis egestas"}
                          %i.icon-eye-open
                .col-xs-4
                  .portfolio-item
                    .item-inner
                      %img.img-responsive{alt: "", src: "assets/portfolio/recent/recent_item3.png"}/
                      %h5
                        Fornax - Apps site template
                      .overlay
                        %a.preview.btn.btn-danger{href: "assets/portfolio/full/full_item1.jpg", rel: "prettyPhoto", title: "Malesuada fames ac turpis egestas"}
                          %i.icon-eye-open
                .col-xs-4
                  .portfolio-item
                    .item-inner
                      %img.img-responsive{alt: "", src: "assets/portfolio/recent/recent_item2.png"}/
                      %h5
                        Flat Theme - Business Theme
                      .overlay
                        %a.preview.btn.btn-danger{href: "assets/portfolio/full/full_item1.jpg", rel: "prettyPhoto", title: "Malesuada fames ac turpis egestas"}
                          %i.icon-eye-open
              / /.row
            / /.item
            .item
              .row
                .col-xs-4
                  .portfolio-item
                    .item-inner
                      %img.img-responsive{alt: "", src: "assets/portfolio/recent/recent_item2.png"}/
                      %h5
                        Flat Theme - Business Theme
                      .overlay
                        %a.preview.btn.btn-danger{href: "assets/portfolio/full/full_item1.jpg", rel: "prettyPhoto", title: "Malesuada fames ac turpis egestas"}
                          %i.icon-eye-open
                .col-xs-4
                  .portfolio-item
                    .item-inner
                      %img.img-responsive{alt: "", src: "assets/portfolio/recent/recent_item1.png"}/
                      %h5
                        Nova - Corporate site template
                      .overlay
                        %a.preview.btn.btn-danger{href: "assets/portfolio/full/full_item1.jpg", rel: "prettyPhoto", title: "Malesuada fames ac turpis egestas"}
                          %i.icon-eye-open
                .col-xs-4
                  .portfolio-item
                    .item-inner
                      %img.img-responsive{alt: "", src: "assets/portfolio/recent/recent_item3.png"}/
                      %h5
                        Fornax - Apps site template
                      .overlay
                        %a.preview.btn.btn-danger{href: "assets/portfolio/full/full_item1.jpg", rel: "prettyPhoto", title: "Malesuada fames ac turpis egestas"}
                          %i.icon-eye-open
            / /.item
    / /.row
/ /#recent-works
%section#testimonial.alizarin
  .container
    .row
      .col-lg-12
        .center
          %h2 What our clients say
          %p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
        .gap
        .row
          .col-md-6
            %blockquote
              %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
              %small
                Someone famous in
                %cite{title: "Source Title"} Source Title
            %blockquote
              %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
              %small
                Someone famous in
                %cite{title: "Source Title"} Source Title
          .col-md-6
            %blockquote
              %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
              %small
                Someone famous in
                %cite{title: "Source Title"} Source Title
            %blockquote
              %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
              %small
                Someone famous in
                %cite{title: "Source Title"} Source Title
/ /#testimonial
%section#bottom.wet-asphalt
  .container
    .row
      .col-md-3.col-sm-6
        %h4 About Us
        %p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.
        %p Pellentesque habitant morbi tristique senectus.
      / /.col-md-3
      .col-md-3.col-sm-6
        %h4 Company
        %div
          %ul.arrow
            %li
              %a{href: "#"} Company Overview
            %li
              %a{href: "#"} Meet The Team
            %li
              %a{href: "#"} Our Awesome Partners
            %li
              %a{href: "#"} Our Services
            %li
              %a{href: "#"} Frequently Asked Questions
            %li
              %a{href: "#"} Conatct Us
            %li
              %a{href: "#"} Privacy Policy
            %li
              %a{href: "#"} Terms of Use
            %li
              %a{href: "#"} Copyright
      / /.col-md-3
      .col-md-3.col-sm-6
        %h4 Latest Blog
        %div
          .media
            .pull-left
              %img{alt: "", src: "assets/blog/thumb1.jpg"}/
            .media-body
              %span.media-heading
                %a{href: "#"} Pellentesque habitant morbi tristique senectus
              %small.muted Posted 17 Aug 2013
          .media
            .pull-left
              %img{alt: "", src: "assets/blog/thumb2.jpg"}/
            .media-body
              %span.media-heading
                %a{href: "#"} Pellentesque habitant morbi tristique senectus
              %small.muted Posted 13 Sep 2013
          .media
            .pull-left
              %img{alt: "", src: "assets/blog/thumb3.jpg"}/
            .media-body
              %span.media-heading
                %a{href: "#"} Pellentesque habitant morbi tristique senectus
              %small.muted Posted 11 Jul 2013
      / /.col-md-3
      .col-md-3.col-sm-6
        %h4 Address
        %address
          %strong Twitter, Inc.
          %br/
          795 Folsom Ave, Suite 600
          %br/
          San Francisco, CA 94107
          %br/
          %abbr{title: "Phone"} P:
          (123) 456-7890
        %h4 Newsletter
        %form{role: "form"}
          .input-group
            %input.form-control{autocomplete: "off", placeholder: "Enter your email", type: "text"}/
            %span.input-group-btn
              %button.btn.btn-danger{type: "button"} Go!
      / /.col-md-3
/ /#bottom
%footer#footer.midnight-blue
  .container
    .row
      .col-sm-6
        \© 2013
        = succeed "." do
          %a{href: "http://shapebootstrap.net/", target: "_blank", title: "Free Twitter Bootstrap WordPress Themes and HTML templates"} ShapeBootstrap
      .col-sm-6
        %ul.pull-right
          %li
            %a{href: "#"} Home
          %li
            %a{href: "#"} About Us
          %li
            %a{href: "#"} Faq
          %li
            %a{href: "#"} Contact Us
          %li
            %a#gototop.gototop{href: "#"}
              %i.icon-chevron-up
          / #gototop
/ /#footer
%script{src: "jquery.js"}
%script{src: "bootstrap.min.js"}
%script{src: "jquery.prettyPhoto.js"}
%script{src: "main.js"}
            

