#main-slider .carousel .item {
  height : 300px !important
}

#main-slider .prev, #main-slider .next {
    background-color: rgba(0, 0, 0, 0) !important    
}

#main-slider .prev:hover, #main-slider .next:hover {
   background-color: rgba(0, 0, 0, 0) !important 
 }
 

.clearfix:before, .clearfix:after, .row:before, .row:after {
    content: " ";
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
}


.blogposts-wrapper {
    background: none repeat scroll 0 0;
    margin: 0;
    position: relative;
}

.blogposts-inner {
    border-bottom: 1px solid #333;
    padding-bottom: 10px;
    padding-top: 30px;
}


.full-left {
    display: block;
    float: left;
    position: relative;
    width: 100%;
}


.magbig-thumb {
    float: left;
    height: 160px;
    position: relative;
    width: 280px;
}

.list-block {
    border-top: medium none;
    color: #555;
    float: left;
    min-height: 148px;
    padding: 0 0 0 15px;
    position: relative;
    width: 490px;
}
.list-block {
    border-top: medium none;
    color: #545;
    float: left;
    min-height: 148px;
    position: relative;
    width: 490px;
}

.post-meta-blog span {
    display: inline-block;
}
.maga-excerpt {
    display: block;
    margin-bottom: 5px;
}
.tpcrn-read-more {
    color: #de1920;
    display: inline-block;
    font-weight: 900;
    line-height: 1;
    padding: 8px 0;
}

h2.blogpost-wrapper-title, .widget-head {
    background-color: #333;
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 50px auto;
    color: white;
    font-family: "Lato",sans-serif !important;
    font-size: 18px;
    font-weight: 900;
    height: 32px;
    line-height: 32px;
    margin-bottom: 15px;
    padding: 0 18px;
    position: relative;
    text-transform: uppercase;
    z-index: 100;
}

h3 {
  margin-top: 0px !important
}
