#main-slider .carousel .item {
  height : 300px !important
}

#main-slider .prev, #main-slider .next {
    background-color: rgba(0, 0, 0, 0) !important    
}

#main-slider .prev:hover, #main-slider .next:hover {
   background-color: rgba(0, 0, 0, 0) !important 
 }