#main-slider .carousel .item {
  height : 300px !important
}

#main-slider .prev, #main-slider .next {
    background-color: rgba(0, 0, 0, 0) !important    
}

#main-slider .prev:hover, #main-slider .next:hover {
   background-color: rgba(0, 0, 0, 0) !important 
 }
 

.clearfix:before, .clearfix:after, .row:before, .row:after {
    content: " " !important;
    display: block !important;
    height: 0 !important;
    overflow: hidden !important;
    visibility: hidden !important ;
    width: 0 !important;
}


.blogposts-wrapper {
    background: none repeat scroll 0 0 !important;
    margin: 0 !important;
    position: relative !important;
}

.blogposts-inner {
    border-bottom: 1px solid #333 !important;
    padding-bottom: 10px !important;
    padding-top: 30px !important;
}


.full-left {
    display: block !important;
    float: left !important;
    position: relative !important;
    width: 100% !important;
}


.magbig-thumb {
    float: left !important;
    height: 160px !important;
    position: relative !important;
    width: 280px !important;
    }

.list-block {
    border-top: medium none !important;
    color: #555 !important;
    float: left !important;
    min-height: 148px !important;
    padding: 0 0 0 15px !important;
    position: relative !important;
    width: 490px !important;
}
.list-block {
    border-top: medium none !important;
    color: #545 !important;
    float: left !important;
    min-height: 148px !important;
    position: relative !important;
    width: 490px !important;
    padding-left: 50px !important;
}

.post-meta-blog span {
    display: inline-block !important;
}
.maga-excerpt {
    display: block !important;
    margin-bottom: 5px !important;
    padding-top: 10px !important;
}
.tpcrn-read-more {
    color: #de1920 !important;
    display: inline-block !important;
    font-weight: 900 !important;
    line-height: 1 !important;
    padding: 8px 0 !important;
}

h2.blogpost-wrapper-title, .widget-head {
    background-color: #333 !important;
    background-position: right center !important;
    background-repeat: no-repeat !important;
    background-size: 50px auto !important;
    color: white !important;
    font-family: "Lato",sans-serif !important;
    font-size: 18px !important;
    font-weight: 900 !important;
    height: 32px !important;
    line-height: 32px !important;
    margin-bottom: 15px !important;
    padding: 0 18px !important;
    position: relative !important;
    text-transform: uppercase !important;
    z-index: 100 !important;
}

h3 {
  margin-top: 0px !important;
}
